html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Verdana, sans-serif;
}

figure{
    font-size: 0;
}

figcaption{
    font-size: 14px;
    border: 1px solid #b6b6b6;
    border-top: none;
    text-align: center;
    padding: 19px 0;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.logo {
    display: inline-block;
    margin-bottom: 50px;
}

.links {
    margin-bottom: 50px;
}

.link {
    display: inline-block;
    padding: 24px 49px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: #3f2aff;
    text-decoration: none;
}

.link:not(:last-child) {
    margin-right: 25px;
}

.unstall-program {
    font-weight: 700;
    font-size: 18px;
    color:  #3f2aff;
    padding-left: 30px;
    background-image: url('../img/download.png');
    background-size: 20px 20px;
    background-position: left center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.head-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}

.title-twoLevel {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.title-desc {
    margin-top: 0;
    margin-top: 10px;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
    margin-top: 0;
    margin-bottom: 40px;
    width: 872px;
}

.text-box {
    border-radius: 20px;
    padding: 50px 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    background-color: #3f2aff;
}

.gray-box {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

}

.image-box {
    background-image: url(../img/decorate-1.png);
}

.image-result {
    background-image: url(../img/decorate-2.png);
}

.gray-box:not(:last-child) {
    margin-bottom: 40px;
}

.list-item a{
    border-bottom: 1px solid #3f2aff;    
    text-decoration: none;  
    font-size: 20px;
}

.list-item:not(:last-child) {
    margin-bottom: 20px;
}

.list-item::marker {
    color: #3f2aff;
}

.lists {
    padding: 15px;
    margin-top: 0;
}

.gray-box .text {
    width: 692px;
    margin-bottom: 10px;
}

.image-notFig {
    margin-top: 0;
    margin-bottom: 40px;
}

figure {
    display: inline-block;
    margin-bottom: 40px;
    width: 872px;
}

.head{
    margin: 0;
}

.string{
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

.exit-on-ind{
    color: #3f2aff;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
    margin-bottom: 36px;
    padding-left: 55px;
    background-image: url('../img/Arrow\ 1.jpg');
    /* background-size: 20px 20px; */
    background-position: left center;
    background-repeat: no-repeat;
    text-decoration: none;
}

.head-slogan{
    font-weight: 700;
    font-size: 60px;
    color: #3f2aff;
    margin: 0;
    margin-left: 37px;
    margin-bottom: 37px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;

}

.card{
    max-width: calc(50% - 25px);
    height: 505px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    position: relative;
}

/* .cards:not(:nth-child(2n)){
    margin-right: 25px;
} */

.cards:not(:last-child){
    margin-right: 25px;
}

.card-title{
    font-weight: 700;
    font-size: 40px;
    color: #3f2aff;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 25px;
}

.card-text{
    margin: 0;
    /* margin-bottom: 10px; */
    margin-left: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
}

.card-number{
    font-weight: 400;
    font-size: 40px;
    text-align: right;
    color: #eaeaea;
    margin: 0;
    margin-bottom: 25px;
    margin-right: 25px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.card-image{
    background-size: contain;
    margin-bottom: 25px;
}

.btm{
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #3f2aff;
    border: 2px solid #3f2aff;
    padding: 25px 76px;
    margin: 0;
    margin-top: 50px;
}